<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
	<!-- 日志输出根目录 -->
	<property name="log_base" value="/home/webid/pps-operation/logs/" />
	<!-- 控制台 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>[%d] %5p %c:%L - %m%n</pattern>
		</encoder>
	</appender>

	<!-- 日志文件 -->
	<appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_base}search.log</File>
		<encoder>
			<pattern>[%d] %5p %c{1}:%L - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log_base}search-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>720</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="debug">
		<!-- 输出至控制台 -->
		<appender-ref ref="CONSOLE" />
		<!-- 输出至日志文件 -->
		<appender-ref ref="logFile" />
		
		<!-- 报警邮件 -->
		<!-- <appender-ref ref="EMAIL" /> -->
	</root>

</configuration>